# Capstone Project

#                     Phase1

# Req.No:1..Population of each state from 2001 to 2012

In [3]:
import pandas as pd
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population")
df

[    States and union territories of India ordered by
 0  Area Population GDP (per capita) Abbreviations...
 1  .mw-parser-output .navbar{display:inline;font-...,
    List of states and union territories of India by population(2011 Census of India)  \
                                                                                 Rank
 0                                              1 (S1)
 1                                              2 (S2)
 2                                              3 (S3)
 3                                              4 (S4)
 4                                              5 (S5)
 5                                              6 (S6)
 6                                              7 (S7)
 7                                              8 (S8)
 8                                              9 (S9)
 9                                            10 (S10)
 10                                           11 (S11)
 11                                           12 (S12)
 12                                           13 (S13)
 13                                           14 (S14)
 14                                           15 (S15)
 15                                           16 (S16)
 16                                           17 (S17)
 17                                           18 (S18)
 18                                           19 (UT1)
 19                                           20 (UT2)
 20                                           21 (S19)
 21                                           22 (S20)
 22                                           23 (S21)
 23                                           24 (S22)
 24                                           25 (S23)
 25                                           26 (S24)
 26                                           27 (S25)
 27                                           28 (S26)
 28                                           29 (UT3)
 29                                           30 (S27)
 30                                           31 (UT4)
 31                                           32 (S28)
 32                                           33 (UT5)
 33                                           34 (UT6)
 34                                           35 (UT7)
 35                                           36 (UT8)
 36                                              Total

                                                                  \
                     State or Union Territory Population[18][19]
 0                              Uttar Pradesh          199812341
 1                                Maharashtra          112374333
 2                                      Bihar          104099452
 3                                West Bengal           91276115
 4                             Madhya Pradesh           72626809
 5                                 Tamil Nadu           72147030
 6                                  Rajasthan           68548437
 7                                  Karnataka           61095297
 8                                    Gujarat           60439692
 9                             Andhra Pradesh      49,577,103[b]
 10                                    Odisha           41974219
 11                                 Telangana           35003674
 12                                    Kerala           33406061
 13                                 Jharkhand           32988134
 14                                     Assam           31205576
 15                                    Punjab           27743338
 16                              Chhattisgarh           25545198
 17                                   Haryana           25351462
 18                              NCT of Delhi           16787941
 19                         Jammu and Kashmir           12267032
 20                               Uttarakhand           10086292
 21                          Himachal Pradesh            6864602
 22                                   Tripura            3673917
 23                                 Meghalaya            2966889
 24                                Manipur[c]            2570390
 25                                  Nagaland            1978502
 26                                       Goa            1458545
 27                         Arunachal Pradesh            1383727
 28                                Puducherry            1247953
 29                                   Mizoram            1097206
 30                                Chandigarh            1055450
 31                                    Sikkim             610577
 32  Dadra and Nagar Haveli and Daman and Diu             585764
 33               Andaman and Nicobar Islands             380581
 34                                    Ladakh             274000
 35                               Lakshadweep              64473
 36                                     India         1210569573

                                                                   \
    National Share (%) Decadal growth(2001–2012) Rural population
 0                 NaN                     20.2%        155317278
 1                 NaN                       16%         61556074
 2                 NaN                     25.4%         92341436
 3                 NaN                     13.8%         62183113
 4                 NaN                     20.3%         52557404
 5                 NaN                     15.6%         37229590
 6                 NaN                     21.3%         51500352
 7                 NaN                     15.6%         37469335
 8                 NaN                     19.3%         34694609
 9                 NaN                     11.0%         34966693
 10                NaN                     14.0%         34970562
 11                NaN                    13.58%         21395009
 12                NaN                      4.9%         17471135
 13                NaN                     22.4%         25055073
 14                NaN                     17.1%         26807034
 15                NaN                    13.89%         17344192
 16                NaN                     22.6%         19607961
 17                NaN                     19.9%         16509359
 18                NaN                     21.2%           419042
 19                NaN                     23.6%          9064220
 20                NaN                     18.8%          7036954
 21                NaN                     12.9%          6176050
 22                NaN                     14.8%          2712464
 23                NaN                     27.9%          2371439
 24                NaN                     24.5%          1793875
 25                NaN                     −0.6%          1407536
 26                NaN                      8.2%           551731
 27                NaN                     26.0%          1066358
 28                NaN                     28.1%           395200
 29                NaN                     23.5%           525435
 30                NaN                     17.2%            28991
 31                NaN                     12.9%           456999
 32                NaN                     55.1%           243510
 33                NaN                      6.9%           237093
 34                NaN                     17.8%            43840
 35                NaN                      6.3%            14141
 36               100%                     17.7%        833463448

                                                                             \
    Percent rural Urban population Percent urban      Population Density[a]
 0            NaN         44495063           NaN      828/km2 (2,140/sq mi)
 1            NaN         50818259           NaN        365/km2 (950/sq mi)
 2            NaN         11758016           NaN    1,102/km2 (2,850/sq mi)
 3            NaN         29093002           NaN    1,029/km2 (2,670/sq mi)
 4            NaN         20069405           NaN        236/km2 (610/sq mi)
 5            NaN         34917440           NaN      555/km2 (1,440/sq mi)
 6            NaN         17048085           NaN        201/km2 (520/sq mi)
 7            NaN         23625962           NaN        319/km2 (830/sq mi)
 8            NaN         25745083           NaN        308/km2 (800/sq mi)
 9            NaN         14610410           NaN        303/km2 (780/sq mi)
 10           NaN          7003656           NaN        269/km2 (700/sq mi)
 11           NaN         13608665           NaN        312/km2 (810/sq mi)
 12           NaN         15934926           NaN      859/km2 (2,220/sq mi)
 13           NaN          7933061           NaN      414/km2 (1,070/sq mi)
 14           NaN          4398542           NaN      398/km2 (1,030/sq mi)
 15           NaN         10399146           NaN      551/km2 (1,430/sq mi)
 16           NaN          5937237           NaN        189/km2 (490/sq mi)
 17           NaN          8842103           NaN      573/km2 (1,480/sq mi)
 18           NaN         16368899           NaN  11,297/km2 (29,260/sq mi)
 19           NaN          3202812           NaN        297/km2 (770/sq mi)
 20           NaN          3049338           NaN        189/km2 (490/sq mi)
 21           NaN           688552           NaN        123/km2 (320/sq mi)
 22           NaN           961453           NaN        350/km2 (910/sq mi)
 23           NaN           595450           NaN        132/km2 (340/sq mi)
 24           NaN           776515           NaN        122/km2 (320/sq mi)
 25           NaN           570966           NaN        119/km2 (310/sq mi)
 26           NaN           906814           NaN      394/km2 (1,020/sq mi)
 27           NaN           317369           NaN          17/km2 (44/sq mi)
 28           NaN           852753           NaN    2,598/km2 (6,730/sq mi)
 29           NaN           571771           NaN         52/km2 (130/sq mi)
 30           NaN          1026459           NaN   9,252/km2 (23,960/sq mi)
 31           NaN           153578           NaN         86/km2 (220/sq mi)
 32           NaN           342254           NaN      970/km2 (2,500/sq mi)
 33           NaN           143488           NaN         46/km2 (120/sq mi)
 34           NaN           230160           NaN        2.8/km2 (7.3/sq mi)
 35           NaN            50332           NaN    2,013/km2 (5,210/sq mi)
 36        68.84%        377106125        31.16%        382/km2 (990/sq mi)


    Sex ratio
 0        912
 1        929
 2        918
 3        953
 4        931
 5        996
 6        928
 7        973
 8        919
 9        993
 10       979
 11       988
 12      1084
 13       948
 14       958
 15       895
 16       991
 17       879
 18       868
 19       890
 20       963
 21       972
 22       960
 23       989
 24       992
 25       931
 26       973
 27       938
 28      1037
 29       976
 30       818
 31       890
 32       711
 33       876
 34       853
 35       946
 36       940  ]

In [16]:
import requests
from bs4 import BeautifulSoup
res=requests.get("https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population")
soup=BeautifulSoup(res.text,"html.parser")

data=soup.find_all("table")[1]
df=pd.read_html(str(data))
df[0]

   List of states and union territories of India by population(2011 Census of India)  \
                                                                                Rank
0                                              1 (S1)
1                                              2 (S2)
2                                              3 (S3)
3                                              4 (S4)
4                                              5 (S5)
5                                              6 (S6)
6                                              7 (S7)
7                                              8 (S8)
8                                              9 (S9)
9                                            10 (S10)
10                                           11 (S11)
11                                           12 (S12)
12                                           13 (S13)
13                                           14 (S14)
14                                           15 (S15)
15                                           16 (S16)
16                                           17 (S17)
17                                           18 (S18)
18                                           19 (UT1)
19                                           20 (UT2)
20                                           21 (S19)
21                                           22 (S20)
22                                           23 (S21)
23                                           24 (S22)
24                                           25 (S23)
25                                           26 (S24)
26                                           27 (S25)
27                                           28 (S26)
28                                           29 (UT3)
29                                           30 (S27)
30                                           31 (UT4)
31                                           32 (S28)
32                                           33 (UT5)
33                                           34 (UT6)
34                                           35 (UT7)
35                                           36 (UT8)
36                                              Total

                                                                 \
                    State or Union Territory Population[18][19]
0                              Uttar Pradesh          199812341
1                                Maharashtra          112374333
2                                      Bihar          104099452
3                                West Bengal           91276115
4                             Madhya Pradesh           72626809
5                                 Tamil Nadu           72147030
6                                  Rajasthan           68548437
7                                  Karnataka           61095297
8                                    Gujarat           60439692
9                             Andhra Pradesh      49,577,103[b]
10                                    Odisha           41974219
11                                 Telangana           35003674
12                                    Kerala           33406061
13                                 Jharkhand           32988134
14                                     Assam           31205576
15                                    Punjab           27743338
16                              Chhattisgarh           25545198
17                                   Haryana           25351462
18                              NCT of Delhi           16787941
19                         Jammu and Kashmir           12267032
20                               Uttarakhand           10086292
21                          Himachal Pradesh            6864602
22                                   Tripura            3673917
23                                 Meghalaya            2966889
24                                Manipur[c]            2570390
25                                  Nagaland            1978502
26                                       Goa            1458545
27                         Arunachal Pradesh            1383727
28                                Puducherry            1247953
29                                   Mizoram            1097206
30                                Chandigarh            1055450
31                                    Sikkim             610577
32  Dadra and Nagar Haveli and Daman and Diu             585764
33               Andaman and Nicobar Islands             380581
34                                    Ladakh             274000
35                               Lakshadweep              64473
36                                     India         1210569573

                                                                  \
   National Share (%) Decadal growth(2001–2012) Rural population
0                 NaN                     20.2%        155317278
1                 NaN                       16%         61556074
2                 NaN                     25.4%         92341436
3                 NaN                     13.8%         62183113
4                 NaN                     20.3%         52557404
5                 NaN                     15.6%         37229590
6                 NaN                     21.3%         51500352
7                 NaN                     15.6%         37469335
8                 NaN                     19.3%         34694609
9                 NaN                     11.0%         34966693
10                NaN                     14.0%         34970562
11                NaN                    13.58%         21395009
12                NaN                      4.9%         17471135
13                NaN                     22.4%         25055073
14                NaN                     17.1%         26807034
15                NaN                    13.89%         17344192
16                NaN                     22.6%         19607961
17                NaN                     19.9%         16509359
18                NaN                     21.2%           419042
19                NaN                     23.6%          9064220
20                NaN                     18.8%          7036954
21                NaN                     12.9%          6176050
22                NaN                     14.8%          2712464
23                NaN                     27.9%          2371439
24                NaN                     24.5%          1793875
25                NaN                     −0.6%          1407536
26                NaN                      8.2%           551731
27                NaN                     26.0%          1066358
28                NaN                     28.1%           395200
29                NaN                     23.5%           525435
30                NaN                     17.2%            28991
31                NaN                     12.9%           456999
32                NaN                     55.1%           243510
33                NaN                      6.9%           237093
34                NaN                     17.8%            43840
35                NaN                      6.3%            14141
36               100%                     17.7%        833463448

                                                                            \
   Percent rural Urban population Percent urban      Population Density[a]
0            NaN         44495063           NaN      828/km2 (2,140/sq mi)
1            NaN         50818259           NaN        365/km2 (950/sq mi)
2            NaN         11758016           NaN    1,102/km2 (2,850/sq mi)
3            NaN         29093002           NaN    1,029/km2 (2,670/sq mi)
4            NaN         20069405           NaN        236/km2 (610/sq mi)
5            NaN         34917440           NaN      555/km2 (1,440/sq mi)
6            NaN         17048085           NaN        201/km2 (520/sq mi)
7            NaN         23625962           NaN        319/km2 (830/sq mi)
8            NaN         25745083           NaN        308/km2 (800/sq mi)
9            NaN         14610410           NaN        303/km2 (780/sq mi)
10           NaN          7003656           NaN        269/km2 (700/sq mi)
11           NaN         13608665           NaN        312/km2 (810/sq mi)
12           NaN         15934926           NaN      859/km2 (2,220/sq mi)
13           NaN          7933061           NaN      414/km2 (1,070/sq mi)
14           NaN          4398542           NaN      398/km2 (1,030/sq mi)
15           NaN         10399146           NaN      551/km2 (1,430/sq mi)
16           NaN          5937237           NaN        189/km2 (490/sq mi)
17           NaN          8842103           NaN      573/km2 (1,480/sq mi)
18           NaN         16368899           NaN  11,297/km2 (29,260/sq mi)
19           NaN          3202812           NaN        297/km2 (770/sq mi)
20           NaN          3049338           NaN        189/km2 (490/sq mi)
21           NaN           688552           NaN        123/km2 (320/sq mi)
22           NaN           961453           NaN        350/km2 (910/sq mi)
23           NaN           595450           NaN        132/km2 (340/sq mi)
24           NaN           776515           NaN        122/km2 (320/sq mi)
25           NaN           570966           NaN        119/km2 (310/sq mi)
26           NaN           906814           NaN      394/km2 (1,020/sq mi)
27           NaN           317369           NaN          17/km2 (44/sq mi)
28           NaN           852753           NaN    2,598/km2 (6,730/sq mi)
29           NaN           571771           NaN         52/km2 (130/sq mi)
30           NaN          1026459           NaN   9,252/km2 (23,960/sq mi)
31           NaN           153578           NaN         86/km2 (220/sq mi)
32           NaN           342254           NaN      970/km2 (2,500/sq mi)
33           NaN           143488           NaN         46/km2 (120/sq mi)
34           NaN           230160           NaN        2.8/km2 (7.3/sq mi)
35           NaN            50332           NaN    2,013/km2 (5,210/sq mi)
36        68.84%        377106125        31.16%        382/km2 (990/sq mi)


   Sex ratio
0        912
1        929
2        918
3        953
4        931
5        996
6        928
7        973
8        919
9        993
10       979
11       988
12      1084
13       948
14       958
15       895
16       991
17       879
18       868
19       890
20       963
21       972
22       960
23       989
24       992
25       931
26       973
27       938
28      1037
29       976
30       818
31       890
32       711
33       876
34       853
35       946
36       940

In [25]:
df = df[0]
df.to_csv('my_data.csv')

In [26]:
df1=pd.read_csv("my_data.csv")
df1

,Unnamed: 0,List of states and union territories of India by population(2011 Census of India),List of states and union territories of India by population(2011 Census of India).1,List of states and union territories of India by population(2011 Census of India).2,List of states and union territories of India by population(2011 Census of India).3,List of states and union territories of India by population(2011 Census of India).4,List of states and union territories of India by population(2011 Census of India).5,List of states and union territories of India by population(2011 Census of India).6,List of states and union territories of India by population(2011 Census of India).7,List of states and union territories of India by population(2011 Census of India).8,List of states and union territories of India by population(2011 Census of India).9,List of states and union territories of India by population(2011 Census of India).10
0,NaN,Rank,State or Union Territory,Population[18][19],National Share (%),Decadal growth(2001–2012),Rural population,Percent rural,Urban population,Percent urban,Population Density[a],Sex ratio
1,0.0,1 (S1),Uttar Pradesh,199812341,NaN,20.2%,155317278,NaN,44495063,NaN,"828/km2 (2,140/sq mi)",912
2,1.0,2 (S2),Maharashtra,112374333,NaN,16%,61556074,NaN,50818259,NaN,365/km2 (950/sq mi),929
3,2.0,3 (S3),Bihar,104099452,NaN,25.4%,92341436,NaN,11758016,NaN,"1,102/km2 (2,850/sq mi)",918
4,3.0,4 (S4),West Bengal,91276115,NaN,13.8%,62183113,NaN,29093002,NaN,"1,029/km2 (2,670/sq mi)",953
5,4.0,5 (S5),Madhya Pradesh,72626809,NaN,20.3%,52557404,NaN,20069405,NaN,236/km2 (610/sq mi),931
6,5.0,6 (S6),Tamil Nadu,72147030,NaN,15.6%,37229590,NaN,34917440,NaN,"555/km2 (1,440/sq mi)",996
7,6.0,7 (S7),Rajasthan,68548437,NaN,21.3%,51500352,NaN,17048085,NaN,201/km2 (520/sq mi),928
8,7.0,8 (S8),Karnataka,61095297,NaN,15.6%,37469335,NaN,23625962,NaN,319/km2 (830/sq mi),973
9,8.0,9 (S9),Gujarat,60439692,NaN,19.3%,34694609,NaN,25745083,NaN,308/km2 (800/sq mi),919
10,9.0,10 (S10),Andhra Pradesh,"49,577,103[b]",NaN,11.0%,34966693,NaN,14610410,NaN,303/km2 (780/sq mi),993
11,10.0,11 (S11),Odisha,41974219,NaN,14.0%,34970562,NaN,7003656,NaN,269/km2 (700/sq mi),979
12,11.0,12 (S12),Telangana,35003674,NaN,13.58%,21395009,NaN,13608665,NaN,312/km2 (810/sq mi),988
13,12.0,13 (S13),Kerala,33406061,NaN,4.9%,17471135,NaN,15934926,NaN,"859/km2 (2,220/sq mi)",1084
14,13.0,14 (S14),Jharkhand,32988134,NaN,22.4%,25055073,NaN,7933061,NaN,"414/km2 (1,070/sq mi)",948
15,14.0,15 (S15),Assam,31205576,NaN,17.1%,26807034,NaN,4398542,NaN,"398/km2 (1,030/sq mi)",958
16,15.0,16 (S16),Punjab,27743338,NaN,13.89%,17344192,NaN,10399146,NaN,"551/km2 (1,430/sq mi)",895
17,16.0,17 (S17),Chhattisgarh,25545198,NaN,22.6%,19607961,NaN,5937237,NaN,189/km2 (490/sq mi),991
18,17.0,18 (S18),Haryana,25351462,NaN,19.9%,16509359,NaN,8842103,NaN,"573/km2 (1,480/sq mi)",879
19,18.0,19 (UT1),NCT of Delhi,16787941,NaN,21.2%,419042,NaN,16368899,NaN,"11,297/km2 (29,260/sq mi)",868
20,19.0,20 (UT2),Jammu and Kashmir,12267032,NaN,23.6%,9064220,NaN,3202812,NaN,297/km2 (770/sq mi),890
21,20.0,21 (S19),Uttarakhand,10086292,NaN,18.8%,7036954,NaN,3049338,NaN,189/km2 (490/sq mi),963
22,21.0,22 (S20),Himachal Pradesh,6864602,NaN,12.9%,6176050,NaN,688552,NaN,123/km2 (320/sq mi),972
23,22.0,23 (S21),Tripura,3673917,NaN,14.8%,2712464,NaN,961453,NaN,350/km2 (910/sq mi),960
24,23.0,24 (S22),Meghalaya,2966889,NaN,27.9%,2371439,NaN,595450,NaN,132/km2 (340/sq mi),989
25,24.0,25 (S23),Manipur[c],2570390,NaN,24.5%,1793875,NaN,776515,NaN,122/km2 (320/sq mi),992
26,25.0,26 (S24),Nagaland,1978502,NaN,−0.6%,1407536,NaN,570966,NaN,119/km2 (310/sq mi),931
27,26.0,27 (S25),Goa,1458545,NaN,8.2%,551731,NaN,906814,NaN,"394/km2 (1,020/sq mi)",973
28,27.0,28 (S26),Arunachal Pradesh,1383727,NaN,26.0%,1066358,NaN,317369,NaN,17/km2 (44/sq mi),938
29,28.0,29 (UT3),Puducherry,1247953,NaN,28.1%,395200,NaN,852753,NaN,"2,598/km2 (6,730/sq mi)",1037
30,29.0,30 (S27),Mizoram,1097206,NaN,23.5%,525435,NaN,571771,NaN,52/km2 (130/sq mi),976
31,30.0,31 (UT4),Chandigarh,1055450,NaN,17.2%,28991,NaN,1026459,NaN,"9,252/km2 (23,960/sq mi)",818
32,31.0,32 (S28),Sikkim,610577,NaN,12.9%,456999,NaN,153578,NaN,86/km2 (220/sq mi),890
33,32.0,33 (UT5),Dadra and Nagar Haveli and Daman and Diu,585764,NaN,55.1%,243510,NaN,342254,NaN,"970/km2 (2,500/sq mi)",711
34,33.0,34 (UT6),Andaman and Nicobar Islands,380581,NaN,6.9%,237093,NaN,143488,NaN,46/km2 (120/sq mi),876
35,34.0,35 (UT7),Ladakh,274000,NaN,17.8%,43840,NaN,230160,NaN,2.8/km2 (7.3/sq mi),853
36,35.0,36 (UT8),Lakshadweep,64473,NaN,6.3%,14141,NaN,50332,NaN,"2,013/km2 (5,210/sq mi)",946
37,36.0,Total,India,1210569573,100%,17.7%,833463448,68.84%,377106125,31.16%,382/km2 (990/sq mi),940

In [28]:
df2=df1[["List of states and union territories of India by population(2011 Census of India).1","List of states and union territories of India by population(2011 Census of India).2"]]
df2

,List of states and union territories of India by population(2011 Census of India).1,List of states and union territories of India by population(2011 Census of India).2
0,State or Union Territory,Population[18][19]
1,Uttar Pradesh,199812341
2,Maharashtra,112374333
3,Bihar,104099452
4,West Bengal,91276115
5,Madhya Pradesh,72626809
6,Tamil Nadu,72147030
7,Rajasthan,68548437
8,Karnataka,61095297
9,Gujarat,60439692
10,Andhra Pradesh,"49,577,103[b]"
11,Odisha,41974219
12,Telangana,35003674
13,Kerala,33406061
14,Jharkhand,32988134
15,Assam,31205576
16,Punjab,27743338
17,Chhattisgarh,25545198
18,Haryana,25351462
19,NCT of Delhi,16787941
20,Jammu and Kashmir,12267032
21,Uttarakhand,10086292
22,Himachal Pradesh,6864602
23,Tripura,3673917
24,Meghalaya,2966889
25,Manipur[c],2570390
26,Nagaland,1978502
27,Goa,1458545
28,Arunachal Pradesh,1383727
29,Puducherry,1247953
30,Mizoram,1097206
31,Chandigarh,1055450
32,Sikkim,610577
33,Dadra and Nagar Haveli and Daman and Diu,585764
34,Andaman and Nicobar Islands,380581
35,Ladakh,274000
36,Lakshadweep,64473
37,India,1210569573

df2 is population of each state  from year 2001 to 2012  and index 37 is Total population of india

# Req No:2..Literacy Rate in each state

In [34]:
import requests
from bs4 import BeautifulSoup
res=requests.get("https://thingsinindia.in/literacy-rate-in-india/")
soup=BeautifulSoup(res.text,"html.parser")

data1=soup.find_all("table")
df3=pd.read_html(str(data1))
df3[0]

                            0              1
0                  State / UT  Literacy Rate
1   Andaman & Nicobar Islands          86.7%
2              Andhra Pradesh         67.02%
3           Arunachal Pradesh         65.38%
4                       Assam         72.19%
5                       Bihar         61.80%
6                  Chandigarh         86.05%
7                Chhattisgarh         70.28%
8      Dadra and Nagar Haveli         76.24%
9               Daman and Diu         87.10%
10                      Delhi         86.21%
11                        Goa         88.70%
12                    Gujarat         78.03%
13                    Haryana         75.55%
14           Himachal Pradesh         82.80%
15          Jammu and Kashmir         67.16%
16                  Jharkhand         66.41%
17                  Karnataka         75.36%
18                     Kerala         94.00%
19                Lakshadweep         91.85%
20             Madhya Pradesh         69.32%
21                Maharashtra         82.34%
22                    Manipur         76.94%
23                  Meghalaya         74.43%
24                    Mizoram         91.33%
25                   Nagaland         79.55%
26                     Orissa         72.87%
27                 Puducherry         85.85%
28                     Punjab         75.84%
29                  Rajasthan         66.11%
30                     Sikkim         81.42%
31                 Tamil Nadu         80.09%
32                  Telangana         66.54%
33                    Tripura         87.22%
34              Uttar Pradesh         67.68%
35                Uttarakhand         78.82%
36                West Bengal         76.26%
37                        NaN            NaN

In [35]:
df4=df3[0]
df4.to_csv('my_data1.csv')

In [36]:
df4=pd.read_csv("my_data1.csv")
df4

    Unnamed: 0                          0              1
0            0                 State / UT  Literacy Rate
1            1  Andaman & Nicobar Islands          86.7%
2            2             Andhra Pradesh         67.02%
3            3          Arunachal Pradesh         65.38%
4            4                      Assam         72.19%
5            5                      Bihar         61.80%
6            6                 Chandigarh         86.05%
7            7               Chhattisgarh         70.28%
8            8     Dadra and Nagar Haveli         76.24%
9            9              Daman and Diu         87.10%
10          10                      Delhi         86.21%
11          11                        Goa         88.70%
12          12                    Gujarat         78.03%
13          13                    Haryana         75.55%
14          14           Himachal Pradesh         82.80%
15          15          Jammu and Kashmir         67.16%
16          16                  Jharkhand         66.41%
17          17                  Karnataka         75.36%
18          18                     Kerala         94.00%
19          19                Lakshadweep         91.85%
20          20             Madhya Pradesh         69.32%
21          21                Maharashtra         82.34%
22          22                    Manipur         76.94%
23          23                  Meghalaya         74.43%
24          24                    Mizoram         91.33%
25          25                   Nagaland         79.55%
26          26                     Orissa         72.87%
27          27                 Puducherry         85.85%
28          28                     Punjab         75.84%
29          29                  Rajasthan         66.11%
30          30                     Sikkim         81.42%
31          31                 Tamil Nadu         80.09%
32          32                  Telangana         66.54%
33          33                    Tripura         87.22%
34          34              Uttar Pradesh         67.68%
35          35                Uttarakhand         78.82%
36          36                West Bengal         76.26%
37          37                        NaN            NaN

In [38]:
df4.rename(columns={"0":"State","1":"Literacy Rate"},inplace=True)
df4

    Unnamed: 0                      State  Literacy Rate
0            0                 State / UT  Literacy Rate
1            1  Andaman & Nicobar Islands          86.7%
2            2             Andhra Pradesh         67.02%
3            3          Arunachal Pradesh         65.38%
4            4                      Assam         72.19%
5            5                      Bihar         61.80%
6            6                 Chandigarh         86.05%
7            7               Chhattisgarh         70.28%
8            8     Dadra and Nagar Haveli         76.24%
9            9              Daman and Diu         87.10%
10          10                      Delhi         86.21%
11          11                        Goa         88.70%
12          12                    Gujarat         78.03%
13          13                    Haryana         75.55%
14          14           Himachal Pradesh         82.80%
15          15          Jammu and Kashmir         67.16%
16          16                  Jharkhand         66.41%
17          17                  Karnataka         75.36%
18          18                     Kerala         94.00%
19          19                Lakshadweep         91.85%
20          20             Madhya Pradesh         69.32%
21          21                Maharashtra         82.34%
22          22                    Manipur         76.94%
23          23                  Meghalaya         74.43%
24          24                    Mizoram         91.33%
25          25                   Nagaland         79.55%
26          26                     Orissa         72.87%
27          27                 Puducherry         85.85%
28          28                     Punjab         75.84%
29          29                  Rajasthan         66.11%
30          30                     Sikkim         81.42%
31          31                 Tamil Nadu         80.09%
32          32                  Telangana         66.54%
33          33                    Tripura         87.22%
34          34              Uttar Pradesh         67.68%
35          35                Uttarakhand         78.82%
36          36                West Bengal         76.26%
37          37                        NaN            NaN

In [40]:
df4.drop([0,37],inplace=True)
df4

    Unnamed: 0                      State Literacy Rate
1            1  Andaman & Nicobar Islands         86.7%
2            2             Andhra Pradesh        67.02%
3            3          Arunachal Pradesh        65.38%
4            4                      Assam        72.19%
5            5                      Bihar        61.80%
6            6                 Chandigarh        86.05%
7            7               Chhattisgarh        70.28%
8            8     Dadra and Nagar Haveli        76.24%
9            9              Daman and Diu        87.10%
10          10                      Delhi        86.21%
11          11                        Goa        88.70%
12          12                    Gujarat        78.03%
13          13                    Haryana        75.55%
14          14           Himachal Pradesh        82.80%
15          15          Jammu and Kashmir        67.16%
16          16                  Jharkhand        66.41%
17          17                  Karnataka        75.36%
18          18                     Kerala        94.00%
19          19                Lakshadweep        91.85%
20          20             Madhya Pradesh        69.32%
21          21                Maharashtra        82.34%
22          22                    Manipur        76.94%
23          23                  Meghalaya        74.43%
24          24                    Mizoram        91.33%
25          25                   Nagaland        79.55%
26          26                     Orissa        72.87%
27          27                 Puducherry        85.85%
28          28                     Punjab        75.84%
29          29                  Rajasthan        66.11%
30          30                     Sikkim        81.42%
31          31                 Tamil Nadu        80.09%
32          32                  Telangana        66.54%
33          33                    Tripura        87.22%
34          34              Uttar Pradesh        67.68%
35          35                Uttarakhand        78.82%
36          36                West Bengal        76.26%

df4 is the Literacy rate of each state in India from year 2001 to 2012

# Req no:3..Area of each State

In [52]:
import requests
from bs4 import BeautifulSoup
res=requests.get("https://statisticstimes.com/geography/india/indian-states-area.php")
soup=BeautifulSoup(res.text,"html.parser")

data2=soup.find_all("table")
df5=pd.read_html(str(data2))
df5[1]

   Rank                              State/UT     Area           Share (%)  \
   Rank                              State/UT  (sq km) (sq mile) Share (%)
0     7                        Andhra Pradesh   162970     62923   4.96000
1    14                     Arunachal Pradesh    83743     32333   2.55000
2    16                                 Assam    78438     30285   2.39000
3    12                                 Bihar    94163     36357   2.86000
4     9                          Chhattisgarh   135192     52198   4.11000
5    28                                   Goa     3702      1429   0.11300
6     5                               Gujarat   196244     75770   5.97000
7    20                               Haryana    44212     17070   1.34000
8    17                      Himachal Pradesh    55673     21495   1.69000
9   UT2                       Jammu & Kashmir    55538     21443   1.69000
10   15                             Jharkhand    79716     30779   2.42000
11    6                             Karnataka   191791     74051   5.83000
12   21                                Kerala    38852     15001   1.18000
13  UT1                                Ladakh   166698     64362   5.07000
14    2                        Madhya Pradesh   308252    119017   9.38000
15    3                           Maharashtra   307713    118809   9.36000
16   23                               Manipur    22327      8620   0.67900
17   22                             Meghalaya    22429      8660   0.68200
18   24                               Mizoram    21081      8139   0.64100
19   25                              Nagaland    16579      6401   0.50400
20    8                                Odisha   155707     60119   4.74000
21   19                                Punjab    50362     19445   1.53000
22    1                             Rajasthan   342239    132139  10.40000
23   27                                Sikkim     7096      2740   0.21600
24   10                            Tamil Nadu   130060     50216   3.96000
25   11                             Telangana   112077     43273   3.41000
26   26                               Tripura    10486      4049   0.31900
27    4                         Uttar Pradesh   240928     93023   7.33000
28   18                           Uttarakhand    53483     20650   1.63000
29   13                           West Bengal    88752     34267   2.70000
30  UT3                       A. & N. Islands     8249      3185   0.25100
31  UT6                            Chandigarh      114        44   0.00347
32  UT4  Dadra & Nagar Haveli and Daman & Diu      603       233   0.01830
33  NCT                                 Delhi     1483       573   0.04510
34  UT7                           Lakshadweep       32        12   0.00091
35  UT5                            Puducherry      490       189   0.01490
36  NaN                                 India  3287469   1269298       NaN

                   Country W rank
                   Country W rank
0                  Tunisia   93.0
1                  Austria  115.0
2           Czech Republic  117.0
3                  Hungary  109.0
4                   Greece   96.0
5         French Polynesia  172.0
6                  Senegal   88.0
7                  Estonia  131.0
8                  Croatia  126.0
9                  Croatia  126.0
10          Czech Republic  116.0
11                 Senegal   88.0
12                  Bhutan  134.0
13                Suriname   91.0
14                    Oman   72.0
15                    Oman   72.0
16                  Israel  149.0
17                  Israel  149.0
18             El Salvador  150.0
19               Swaziland  156.0
20              Bangladesh   93.0
21              Costa Rica  128.0
22             Congo, Rep.   65.0
23      West Bank and Gaza  167.0
24               Nicaragua   98.0
25                Honduras  103.0
26                 Lebanon  164.0
27                  Uganda   81.0
28  Bosnia and Herzegovina  126.0
29                  Serbia  112.0
30             Puerto Rico  167.0
31           Liechtenstein  207.0
32               St. Lucia  187.0
33          Faeroe Islands  176.0
34                  Tuvalu  212.0
35                 Andorra  189.0
36                     NaN    NaN

df5[1] is  the area of each state in India